* {
    padding: 0;
    margin: 0;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 12px;
    overflow: hidden;
}

body {
    font-family: "PingFang SC", "BlinkMacSystemFont", "Microsoft YaHei Light", "Microsoft YaHei", "Ubuntu", "WenQuanYi Micro Hei";
}

section {
    text-align: center;
}

ul {
    list-style: none;
}

.app {
    overflow: hidden;
}


.display {
    opacity: 1 !important;
    z-index: 2 !important;
}

.background-container {
    position: fixed;
    z-index: 1;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    transform-origin: center;
    width: 100%;
    height: 100%;
    background: url('/assets/bg-snow.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.settings-container {
    position: fixed;
    top: 2rem;
    right: 4rem;
    z-index: 2;
    overflow: hidden;
}

.settings-icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    animation: rotate 2s infinite linear;
    animation-play-state: paused;
}

.settings-icon:hover {
    animation-play-state: running;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.timer-container {
    position: fixed;
    width: fit-content;
    height: 4rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 28rem;
    margin: auto;
    opacity: 0;
    z-index: -1;
    will-change: transform opacity;
    transition-duration: .25s;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -o-transition-duration: .25s;
}

.timer {
    color: #fff;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 100;
    transition-duration: .25s;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -o-transition-duration: .25s;
}

.search-bar-container {
    position: fixed;
    width: fit-content;
    height: 4rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 14rem;
    margin: auto;
    z-index: 2;
    will-change: transform opacity;
    transition-duration: .25s;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -o-transition-duration: .25s;
}

.search-engine {
    position: absolute;
    width: 3rem;
    height: 12rem;
    overflow: hidden;
    border: none;
    border-radius: 4rem;
    outline: none;
    margin-top: .5rem;
    margin-left: .5rem;
    left: 0;
    cursor: pointer;
    background-color: transparent;
    transition-duration: .25s;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -o-transition-duration: .25s;
    box-shadow: 0 0 1rem rgba(30, 30, 30, .2);
    background-color: rgba(240, 240, 240, .25);
    z-index: 1;
}

.search-engine-default {
    height: 3rem;
    box-shadow: none;
    background-color: transparent;
}

.search-engine-first {
    margin-top: -12rem;
    transition-duration: .25s;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -o-transition-duration: .25s;
}

.search-engine-option {
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.6rem 1.6rem;
}

.search-engine-option:last-of-type {
    border-radius: 1.5rem;
}

.search-engine-option:last-of-type:hover {
    background-color: rgba(200, 200, 200, .4);
}

.search-engine-pic {
    display: block;
    width: 2rem;
    height: 2rem;
    transform: translate(.5rem, .5rem);
}

.search-bar {
    box-sizing: border-box;
    width: 30vw;
    min-width: 20rem;
    height: 4rem;
    line-height: 1.6rem;
    font-size: 1.6rem;
    font-weight: 300;
    border: none;
    border-radius: 1.6rem;
    outline: none;
    color: #fff;
    box-shadow: 0 0 1rem rgba(30, 30, 30, .2);
    background-color: rgba(240, 240, 240, .25);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    text-align: center;
    transition-duration: .25s;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -o-transition-duration: .25s;
}

.search-bar::placeholder {
    color: #fff;
}
.search-bar::-moz-placeholder {
    color: #fff;
}
.search-bar::-webkit-search-placeholder {
    color: #fff;
}
.search-bar-container:hover .search-bar {
    background-color: rgba(255, 255, 255, .4);
    color: #666;
}
.search-bar:hover::placeholder {
    color: #666;
}
.search-bar:hover::-moz-placeholder {
    color: #666;
}
.search-bar:hover::-webkit-search-placeholder {
    color: #666;
}
.search-bar:focus {
    width: 35vw;
    background-color: rgba(255, 255, 255, .4);
    color: rgb(64, 64, 64);
}
.search-bar:focus::placeholder {
    color: rgba(64, 64, 64, 0);
}
.search-bar:focus::-moz-placeholder {
    color: rgba(64, 64, 64, 0);
}
.search-bar:focus::-webkit-search-placeholder {
    color: rgba(64, 64, 64, 0);
}

.search {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 4rem;
    outline: none;
    margin-top: .5rem;
    margin-right: .5rem;
    right: 0;
    cursor: pointer;
    background-color: transparent;
    transition-duration: .25s;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -o-transition-duration: .25s;
}

.search:hover {
    background-color: rgba(200, 200, 200, .4);
}

.search-icon {
    width: 1.6rem;
    height: 1.6rem;
}

.shortcut-container {
    position: fixed;
    width: 50vw;
    max-width: 60rem;
    height: 21vw;
    max-height: 24.6rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    transform: translateY(8rem);
    will-change: transform opacity;
    transition-duration: .25s;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -o-transition-duration: .25s;
    opacity: 0;
    z-index: -1;
}

.shortcut-list {
    width: 100vw;
    max-width: 120rem;
    height: 20vw;
    max-height: 24rem;
}

.shortcut-page {
    width: 50vw;
    max-width: 60rem;
    height: 20vw;
    max-height: 24rem;
    display: inline-block;
}

.shortcut-first-page {
    transition-duration: .25s;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -o-transition-duration: .25s;
}

.shortcut {
    display: inline-block;
    box-sizing: border-box;
    width: 10vw;
    max-width: 12rem;
    height: 10vw;
    max-height: 12rem;
    padding: 2vw;
}

.shortcut-frame {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: .6rem;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(30, 30, 30, .2);
    background-color: rgba(240, 240, 240, .25);
    background-image: url('/assets/default-icon.png');
    background-repeat: no-repeat;
    background-size: 40% 40%;
    background-position: center;
    transition-duration: .25s;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -o-transition-duration: .25s;
}

.shortcut-frame:hover {
    background-color: rgba(240, 240, 240, .5);
}

.shortcut-paging {
    width: fit-content;
    height: .6rem;
    margin: 0 auto;
    font-size: 0;
}

.shortcut-paging-button {
    display: inline-block;
    width: 8rem;
    height: 100%;
    border-radius: .3rem;
    box-shadow: 0 0 1rem rgba(30, 30, 30, .2);
    background-color: rgba(240, 240, 240, .25);
    cursor: pointer;
    margin: 0 .3rem;
    transition-duration: .25s;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -o-transition-duration: .25s;
}

.shortcut-paging-focus {
    background-color: rgba(51, 51, 51, .5);
}

.weather-plugin-container {
    
}

.settings-background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 30, 30, .2);
    opacity: 0;
    z-index: -1;
    will-change: opacity;
    transition-duration: .25s;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -o-transition-duration: .25s;
}

.settings {
    position: fixed;
    width: 50vw;
    min-width: 320px;
    max-width: 600px;
    height: 60vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #fff;
    border-radius: .4rem;
    box-sizing: border-box;
    padding: 2rem;
}

.settings-title {
    width: 100%;
    line-height: 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    overflow: hidden;
    text-align: start;
    padding-bottom: 1rem;
}

.settings-content {
    width: 100%;
    height: calc(100% - 3rem);
    overflow: auto;
}

.settings-content::-webkit-scrollbar {
    opacity: 0;
    width: .6rem;
}

.settings-content::-webkit-scrollbar-thumb {
    width: 100%;
    background-color: rgba(48, 48, 48, .5);
    border-radius: .3rem;
}

.settings-content::-webkit-scrollbar-button {
  display: none;
}

.settings-content::-webkit-scrollbar-track {
    display: none;
}

.settings-item-container {
    padding: 1rem;
    margin-top: 1rem;
}

.settings-item-container-title {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    overflow: hidden;
    text-align: start;
}

.settings-item {
    position: relative;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    overflow: hidden;
    text-align: start;
    margin-top: 1.2rem;
}

.settings-item > label {
    float: left;
    width: 2rem;
    height: 2rem;
}

.settings-item > input {
    box-sizing: border-box;
    float: left;
    width: calc(100% - 2rem);
    height: 2rem;
    padding: 0 1rem;
}